body {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 4em;
  margin-left: 4em;
  font-family: "Open Sans";
  font-size: 1rem;
  width: 1000px;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: "Roboto Slab";
    font-size: 2rem;
  color: #9f2042;
}
blockquote {
  font-family: 'Roboto Slab";
    font-size: 1.25rem;
}
a[href^="http:"] {
    border: 2px solid grey;
  border-radius: 5px;
}
a[href^="https:"]{
    border: 2px solid grey;
  border-radius: 5px;
}
footer {
  background-color: #29293a;
}
#buttons:hover {
  background-color: #a9a9ba;
  color: #9f2042
}
.details {
  color: #a9a9ba;
    display: flex
}
