body {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 4em;
  margin-left: 4em;
  width: 1000px;
  padding: 20px;
  text-align: center;
}
h1 {
  font-family: "Roboto Slab";
    font-size: 2rem;
  color: #9f2042;
}
blockquote {
  font-family: "Roboto Slab";
    font-size: 1.25rem;
  background-color: #ececec;
  color: #f9f9f9;
    border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
}
a[href^="http:"] {
    border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  background-color: #a9a9ba;
  color: #9f2042;
}
a[href^="https:"]{
    border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  background-color: #a9a9ba;
  color: #9f2042;
}
footer {
  background-color: #29293a;
}
.details {
  color: #a9a9ba;
}
a href="#"{
  color: #9f2042
}
.hero{
  width: 50vw;
}
img {
 width : 50%;
 height: 50%; 
}
p {
    font-family: "Open Sans";
  font-size: 1rem;
}
div {
    font-family: "Open Sans";
  font-size: 1rem;
}
* {
  padding 25px;
}
